<div style="height:100%">
  <div class="row" style="height:500px">
  <app-sidebar></app-sidebar>
  <div class="col-md-9 main">
    <object type="text/html" data="http://slc12ckt.us.oracle.com:81/jjikumar_bug-25888080_npe_cat_cpa_1496754303062_1/PrcPoEditDocumentProtectedUiModelTest/testclassesrun.txt"
      style="width:100%; height:100%; margin:1%;">
    </object>
    <!--<iframe src="http://slc12ckt.us.oracle.com:81/jjikumar_bug-25888080_npe_cat_cpa_1496754303062_1/PrcPoEditDocumentProtectedUiModelTest/testclassesrun.txt"></iframe>-->
  </div>
</div>
</div>